USE [master]
GO
/****** Object:  Database [PHONGKHAM]    Script Date: 15/12/2023 10:09:56 CH ******/
CREATE DATABASE [PHONGKHAM]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'PHONGKHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PHONGKHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'PHONGKHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PHONGKHAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHONGKHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHONGKHAM]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 15/12/2023 10:09:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID_DV] [nchar](20) NOT NULL,
	[TenDV] [nchar](50) NOT NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[ID_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUPHONGKHAM]    Script Date: 15/12/2023 10:09:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUPHONGKHAM](
	[ID_DV] [nchar](20) NOT NULL,
	[ID_PK] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEUTRI]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUTRI](
	[ID_DT] [nchar](20) NOT NULL,
	[ID_DV] [nchar](20) NOT NULL,
	[TenDT] [nchar](50) NOT NULL,
	[GiaDT] [int] NOT NULL,
 CONSTRAINT [PK_DIEUTRI] PRIMARY KEY CLUSTERED 
(
	[ID_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEUTRI_KH]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUTRI_KH](
	[ID_DT] [nchar](20) NOT NULL,
	[ID_DV] [nchar](20) NOT NULL,
	[ID_KH] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSOBENHNHAN]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOBENHNHAN](
	[ID_HS] [nchar](20) NOT NULL,
	[TenBenhNhan] [nchar](50) NOT NULL,
	[DobBN] [nchar](50) NULL,
	[GioiTinhBN] [nchar](10) NOT NULL,
	[TongTienDieuTri] [int] NULL,
	[TongTienDaThanhToan] [int] NULL,
	[TongQuan] [nchar](50) NULL,
	[ChongChiDinhThuoc] [nchar](50) NULL,
	[TinhTrangDiUng] [nchar](50) NULL,
 CONSTRAINT [PK_HOSOBENHNHAN] PRIMARY KEY CLUSTERED 
(
	[ID_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACHDIEUTRI]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACHDIEUTRI](
	[ID_KH] [nchar](20) NOT NULL,
	[ID_HS] [nchar](20) NOT NULL,
	[MoTa] [nchar](50) NULL,
	[TrangThaiDieuTri] [nchar](50) NULL,
	[GhiChu] [nchar](50) NULL,
	[PhiDieuTri] [int] NOT NULL,
	[NgayDieuTri] [date] NOT NULL,
	[NhaSi] [nchar](20) NOT NULL,
	[TroKham] [nchar](20) NOT NULL,
	[ID_ThanhToan] [nchar](20) NOT NULL,
	[ID_PhongKham] [nchar](20) NOT NULL,
 CONSTRAINT [PK_KEHOACHDIEUTRI] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHEN]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHEN](
	[ID_LH] [nchar](20) NOT NULL,
	[NgayHen] [date] NOT NULL,
	[ID_PK] [nchar](20) NOT NULL,
	[ThuTu] [int] NULL,
	[GhiChu] [nchar](50) NULL,
	[TinhTrang] [nchar](50) NULL,
	[NhaSi] [nchar](20) NULL,
	[TroKham] [nchar](20) NULL,
	[ID_HS] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[ID_USER] [nchar](20) NOT NULL,
	[ThoiGianLamViec] [date] NOT NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_USER] [nchar](20) NOT NULL,
	[Username] [nchar](50) NOT NULL,
	[Password] [char](50) NOT NULL,
	[SysUserName] [nchar](50) NULL,
	[SysUserGender] [nchar](50) NULL,
	[DiaChiNV] [nchar](50) NULL,
	[Luong] [int] NULL,
	[LoaiTK] [nchar](10) NOT NULL,
	[ID_PK] [nchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGKHAM]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGKHAM](
	[ID_PK] [nchar](20) NOT NULL,
	[DiaChiChiNhanh] [nchar](50) NOT NULL,
	[SoNV] [int] NULL,
	[SoNS] [int] NULL,
	[SoDV] [int] NULL,
 CONSTRAINT [PK_PHONGKHAM] PRIMARY KEY CLUSTERED 
(
	[ID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANGDIEUTRI]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANGDIEUTRI](
	[ToothID] [nchar](20) NOT NULL,
	[SurfaceID] [nchar](20) NOT NULL,
	[ID_KH] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[ID_ThanhToan] [nchar](20) NOT NULL,
	[TongTien] [int] NOT NULL,
	[NgayThucHien] [date] NOT NULL,
	[NguoiThucHien] [nchar](20) NOT NULL,
	[TienNhan] [int] NOT NULL,
	[TienThoi] [int] NOT NULL,
	[LoaiThanhToan] [nchar](20) NOT NULL,
	[GhiChu] [nchar](50) NULL,
 CONSTRAINT [PK_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[ID_ThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[ID_Thuoc] [nchar](20) NOT NULL,
	[TenThuoc] [nchar](50) NOT NULL,
	[SoLuongTon] [int] NULL,
	[GiaBan] [int] NULL,
	[DonVi] [nchar](50) NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[ID_Thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOCKEHOACH]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCKEHOACH](
	[ID_Thuoc] [nchar](20) NOT NULL,
	[ID_KH] [nchar](20) NOT NULL,
	[SoLuongKH] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOCPHONGKHAM]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCPHONGKHAM](
	[ID_Thuoc] [nchar](20) NOT NULL,
	[ID_PK] [nchar](20) NOT NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tooth]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tooth](
	[ToothID] [nchar](20) NOT NULL,
	[ToothName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Tooth] PRIMARY KEY CLUSTERED 
(
	[ToothID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToothSurface]    Script Date: 15/12/2023 10:09:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToothSurface](
	[SurfaceID] [nchar](20) NOT NULL,
	[SurfaceName] [nchar](50) NOT NULL,
	[SurfaceDescription] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ToothSurface] PRIMARY KEY CLUSTERED 
(
	[SurfaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DICHVUPHONGKHAM]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUPHONGKHAM_DICHVU] FOREIGN KEY([ID_DV])
REFERENCES [dbo].[DICHVU] ([ID_DV])
GO
ALTER TABLE [dbo].[DICHVUPHONGKHAM] CHECK CONSTRAINT [FK_DICHVUPHONGKHAM_DICHVU]
GO
ALTER TABLE [dbo].[DICHVUPHONGKHAM]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUPHONGKHAM_PHONGKHAM] FOREIGN KEY([ID_PK])
REFERENCES [dbo].[PHONGKHAM] ([ID_PK])
GO
ALTER TABLE [dbo].[DICHVUPHONGKHAM] CHECK CONSTRAINT [FK_DICHVUPHONGKHAM_PHONGKHAM]
GO
ALTER TABLE [dbo].[DIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_DIEUTRI_DICHVU] FOREIGN KEY([ID_DV])
REFERENCES [dbo].[DICHVU] ([ID_DV])
GO
ALTER TABLE [dbo].[DIEUTRI] CHECK CONSTRAINT [FK_DIEUTRI_DICHVU]
GO
ALTER TABLE [dbo].[DIEUTRI_KH]  WITH CHECK ADD  CONSTRAINT [FK_DIEUTRI_KH_DICHVU] FOREIGN KEY([ID_DV])
REFERENCES [dbo].[DICHVU] ([ID_DV])
GO
ALTER TABLE [dbo].[DIEUTRI_KH] CHECK CONSTRAINT [FK_DIEUTRI_KH_DICHVU]
GO
ALTER TABLE [dbo].[DIEUTRI_KH]  WITH CHECK ADD  CONSTRAINT [FK_DIEUTRI_KH_DIEUTRI] FOREIGN KEY([ID_DT])
REFERENCES [dbo].[DIEUTRI] ([ID_DT])
GO
ALTER TABLE [dbo].[DIEUTRI_KH] CHECK CONSTRAINT [FK_DIEUTRI_KH_DIEUTRI]
GO
ALTER TABLE [dbo].[DIEUTRI_KH]  WITH CHECK ADD  CONSTRAINT [FK_DIEUTRI_KH_KEHOACHDIEUTRI] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KEHOACHDIEUTRI] ([ID_KH])
GO
ALTER TABLE [dbo].[DIEUTRI_KH] CHECK CONSTRAINT [FK_DIEUTRI_KH_KEHOACHDIEUTRI]
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACHDIEUTRI_HOSOBENHNHAN] FOREIGN KEY([ID_HS])
REFERENCES [dbo].[HOSOBENHNHAN] ([ID_HS])
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI] CHECK CONSTRAINT [FK_KEHOACHDIEUTRI_HOSOBENHNHAN]
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACHDIEUTRI_NHANVIEN] FOREIGN KEY([NhaSi])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI] CHECK CONSTRAINT [FK_KEHOACHDIEUTRI_NHANVIEN]
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACHDIEUTRI_NHANVIEN1] FOREIGN KEY([TroKham])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI] CHECK CONSTRAINT [FK_KEHOACHDIEUTRI_NHANVIEN1]
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACHDIEUTRI_PHONGKHAM] FOREIGN KEY([ID_PhongKham])
REFERENCES [dbo].[PHONGKHAM] ([ID_PK])
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI] CHECK CONSTRAINT [FK_KEHOACHDIEUTRI_PHONGKHAM]
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACHDIEUTRI_THANHTOAN] FOREIGN KEY([ID_ThanhToan])
REFERENCES [dbo].[THANHTOAN] ([ID_ThanhToan])
GO
ALTER TABLE [dbo].[KEHOACHDIEUTRI] CHECK CONSTRAINT [FK_KEHOACHDIEUTRI_THANHTOAN]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_HOSOBENHNHAN] FOREIGN KEY([ID_HS])
REFERENCES [dbo].[HOSOBENHNHAN] ([ID_HS])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_HOSOBENHNHAN]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_NHANVIEN] FOREIGN KEY([TroKham])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_NHANVIEN1] FOREIGN KEY([NhaSi])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_NHANVIEN1]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_PHONGKHAM] FOREIGN KEY([ID_PK])
REFERENCES [dbo].[PHONGKHAM] ([ID_PK])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_PHONGKHAM]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGKHAM] FOREIGN KEY([ID_PK])
REFERENCES [dbo].[PHONGKHAM] ([ID_PK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGKHAM]
GO
ALTER TABLE [dbo].[RANGDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_RANGDIEUTRI_KEHOACHDIEUTRI] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KEHOACHDIEUTRI] ([ID_KH])
GO
ALTER TABLE [dbo].[RANGDIEUTRI] CHECK CONSTRAINT [FK_RANGDIEUTRI_KEHOACHDIEUTRI]
GO
ALTER TABLE [dbo].[RANGDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_RANGDIEUTRI_Tooth] FOREIGN KEY([ToothID])
REFERENCES [dbo].[Tooth] ([ToothID])
GO
ALTER TABLE [dbo].[RANGDIEUTRI] CHECK CONSTRAINT [FK_RANGDIEUTRI_Tooth]
GO
ALTER TABLE [dbo].[RANGDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_RANGDIEUTRI_ToothSurface] FOREIGN KEY([SurfaceID])
REFERENCES [dbo].[ToothSurface] ([SurfaceID])
GO
ALTER TABLE [dbo].[RANGDIEUTRI] CHECK CONSTRAINT [FK_RANGDIEUTRI_ToothSurface]
GO
ALTER TABLE [dbo].[THUOCKEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_THUOCKEHOACH_KEHOACHDIEUTRI] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KEHOACHDIEUTRI] ([ID_KH])
GO
ALTER TABLE [dbo].[THUOCKEHOACH] CHECK CONSTRAINT [FK_THUOCKEHOACH_KEHOACHDIEUTRI]
GO
ALTER TABLE [dbo].[THUOCKEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_THUOCKEHOACH_THUOC] FOREIGN KEY([ID_Thuoc])
REFERENCES [dbo].[THUOC] ([ID_Thuoc])
GO
ALTER TABLE [dbo].[THUOCKEHOACH] CHECK CONSTRAINT [FK_THUOCKEHOACH_THUOC]
GO
ALTER TABLE [dbo].[THUOCPHONGKHAM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCPHONGKHAM_PHONGKHAM] FOREIGN KEY([ID_PK])
REFERENCES [dbo].[PHONGKHAM] ([ID_PK])
GO
ALTER TABLE [dbo].[THUOCPHONGKHAM] CHECK CONSTRAINT [FK_THUOCPHONGKHAM_PHONGKHAM]
GO
ALTER TABLE [dbo].[THUOCPHONGKHAM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCPHONGKHAM_THUOC] FOREIGN KEY([ID_Thuoc])
REFERENCES [dbo].[THUOC] ([ID_Thuoc])
GO
ALTER TABLE [dbo].[THUOCPHONGKHAM] CHECK CONSTRAINT [FK_THUOCPHONGKHAM_THUOC]
GO
USE [master]
GO
